In [1]:
import pandas as pd
from nltk.corpus import stopwords
stop = stopwords.words('english')
import string
from nltk.stem.wordnet import WordNetLemmatizer

In [2]:
df = pd.read_csv("/home/dagrawal1/Desktop/proj09/MergedFile.csv", nrows = 4000000, delimiter = ',')

/usr/lib/python3.4/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (3,6,7,8,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
0,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",NaN,"""4855 E Warner Rd, Ste B9""",Ahwatukee,AZ,85044,33.3307,-111.979,4.0,22.0,1.0,Dentists;General Dentistry;Health & Medical;Or...
1,He-G7vWjzVUysIKrfNbPUQ,"""Stephen Szabo Salon""",NaN,"""3101 Washington Rd""",McMurray,PA,15317,40.2917,-80.1049,3.0,11.0,1.0,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...
2,KQPW8lFf1y5BT2MxiSZ3QA,"""Western Motor Vehicle""",NaN,"""6025 N 27th Ave, Ste 1""",Phoenix,AZ,85017,33.5249,-112.115,1.5,18.0,1.0,Departments of Motor Vehicles;Public Services ...
3,8DShNS-LuFqpEWIp0HxijA,"""Sports Authority""",NaN,"""5000 Arizona Mills Cr, Ste 435""",Tempe,AZ,85282,33.3831,-111.965,3.0,9.0,0.0,Sporting Goods;Shopping
4,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",NaN,"""581 Howe Ave""",Cuyahoga Falls,OH,44221,41.1195,-81.4757,3.5,116.0,1.0,American (New);Nightlife;Bars;Sandwiches;Ameri...

In [4]:
df.shape

(4000000, 13)

In [5]:
df2 = pd.read_csv("/home/dagrawal1/Desktop/proj09/yelp_review.csv", delimiter=',')

In [6]:
df2.head()

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
0,vkVSCC7xljjrAI4UGfnKEQ,bv2nCi5Qv5vroFiqKGopiw,AEx2SYEUJmTxVVB18LlCwA,5,2016-05-28,Super simple place but amazing nonetheless. It...,0,0,0
1,n6QzIUObkYshz4dz2QRJTw,bv2nCi5Qv5vroFiqKGopiw,VR6GpWIda3SfvPC-lg9H3w,5,2016-05-28,Small unassuming place that changes their menu...,0,0,0
2,MV3CcKScW05u5LVfF6ok0g,bv2nCi5Qv5vroFiqKGopiw,CKC0-MOWMqoeWf6s-szl8g,5,2016-05-28,Lester's is located in a beautiful neighborhoo...,0,0,0
3,IXvOzsEMYtiJI0CARmj77Q,bv2nCi5Qv5vroFiqKGopiw,ACFtxLv8pGrrxMm6EgjreA,4,2016-05-28,Love coming here. Yes the place always needs t...,0,0,0
4,L_9BTb55X0GDtThi6GlZ6w,bv2nCi5Qv5vroFiqKGopiw,s2I_Ni76bjJNK9yG60iD-Q,4,2016-05-28,Had their chocolate almond croissant and it wa...,0,0,0

In [7]:
df2.shape

(5261668, 9)

In [8]:
df2 = df2.rename(columns = {'stars':'review_rating'})

In [9]:
df3 = df2.join(df.set_index('business_id'), on='business_id')

In [10]:
df3.columns.values

array(['review_id', 'user_id', 'business_id', 'review_rating', 'date',
       'text', 'useful', 'funny', 'cool', 'name', 'neighborhood',
       'address', 'city', 'state', 'postal_code', 'latitude', 'longitude',
       'stars', 'review_count', 'is_open', 'categories'], dtype=object)

In [11]:
df3 = df3.dropna(how = 'any', axis =0 )

In [12]:
df3.shape

(2588197, 21)

In [13]:
#df3['text_nopunct'] = df3['text'].str.replace('[^\w\s]','')
df3['text_nopunct'] = df3['text'].apply(lambda x:''.join([i for i in x if i not in string.punctuation]))

In [14]:
df3['text_nopunct'].head()

0    Super simple place but amazing nonetheless Its...
1    Small unassuming place that changes their menu...
2    Lesters is located in a beautiful neighborhood...
3    Love coming here Yes the place always needs th...
4    Had their chocolate almond croissant and it wa...
Name: text_nopunct, dtype: object

In [16]:
df3['text_lower'] = df3['text_nopunct'].str.lower().str.split()

In [17]:
df3['text_lower'].head()

0    [super, simple, place, but, amazing, nonethele...
1    [small, unassuming, place, that, changes, thei...
2    [lesters, is, located, in, a, beautiful, neigh...
3    [love, coming, here, yes, the, place, always, ...
4    [had, their, chocolate, almond, croissant, and...
Name: text_lower, dtype: object

In [19]:
df3['text_nostopwords'] = df3['text_lower'].apply(lambda x: [item for item in x if item not in stop])

In [20]:
df3['text_nostopwords'].head()

0    [super, simple, place, amazing, nonetheless, a...
1    [small, unassuming, place, changes, menu, ever...
2    [lesters, located, beautiful, neighborhood, si...
3    [love, coming, yes, place, always, needs, floo...
4    [chocolate, almond, croissant, amazing, light,...
Name: text_nostopwords, dtype: object

In [ ]:
lemmatizer = WordNetLemmatizer()
w_tokenizer = WhitespaceTokenizer()

def lemmatize_text(text):
    return [lemmatizer.lemmatize(w) for w in w_tokenizer.tokenize(text)]

df3['text_lemmatized'] = df3.text_nostopwords.apply(lemmatize_text)

In [22]:
df3.to_csv("/home/dagrawal1/Text_Analytics/CleanedYelpData.csv", index = False)